body { font-family:'Times New Roman'; font-size:12pt }
h1, h2, p { margin:0pt }
li { margin-top:0pt; margin-bottom:0pt }
h1 { margin-top:12pt; margin-bottom:3pt; page-break-after:avoid; font-family:Arial; font-size:16pt; font-weight:bold }
h2 { margin-top:12pt; margin-bottom:3pt; page-break-after:avoid; font-family:Arial; font-size:14pt; font-weight:bold; font-style:italic }
.FencedCodecsharp, .Style3 { font-family:Consolas; font-size:10pt; background-color:#e2e2e2; -spr-style-name:'FencedCodecsharp' }
.TableGrid {  }